/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

div.nav{
	background: rgba(255,255,255,0.3);
	height:250px;
	display: block;
}
nav{
	height:250px;
	display: block;

}
nav .logo{
	width:160px;
	height:160px;
	margin-top: 10px;
	
}
nav .mini.logo{
	width:40px;
	height:40px;
	margin: -8px 0px 0px;
	vertical-align: top;
	
}
nav ul.stationary, nav ul.moving{
display: block;
position:absolute;
top:180px;
height: 60px;
}
nav ul.moving{
background: #00cebc;

}
nav ul.stationary li, nav ul.moving li{
	float:left;
	padding:13px 20px 0px;
	
}
nav ul.stationary li{
	
	padding:16px 20px 0px;
}
nav ul.moving:after, nav ul.moving:before{
	content: '';
	height:60px;
	width:30px;
	display: block;
	position: absolute;
	margin-left: -30px;
	background: url('../images/nav_ends_left.png');
}
nav ul.moving:after{
	background: url('../images/nav_ends_right.png');
	right:-30px;
}
.sticky{
	position:fixed;
	top:0px;
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		nav ul.stationary{
			margin-left: -50px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'Ostrich Sans';
	    src: url('../fonts/ostrich-black-webfont.eot');
	    src: url('../fonts/ostrich-black-webfont.eot?iefix') format('eot'),
	         url('../fonts/ostrich-black-webfont.woff') format('woff'),
	         url('../fonts/ostrich-black-webfont.ttf') format('truetype'),
	         url('../fonts/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
	    font-weight: normal;
	    font-style: normal; }
	
	@font-face {
    	font-family: 'DroidSans';
    	src: url('../fonts/DroidSans-webfont.eot');
    	src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
        	 url('../fonts/DroidSans-webfont.woff') format('woff'),
        	 url('../fonts/DroidSans-webfont.ttf') format('truetype'),
        	 url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    	font-weight: normal;
    	font-style: normal; }

	@font-face {
  	  font-family: 'DroidSans Bold';
 	   src: url('../fonts/DroidSans-Bold-webfont.eot');
 	   src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
 	        url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
 	        url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
 	        url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
  	  font-weight: normal;
  	  font-style: normal; }